.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff8e6; /* cream */
}

.login-card {
  background: #ffffff;
  padding: 2.5rem;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
  text-align: center;
  border: 4px solid #ffb300;
}

.login-logo-img {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
}

.login-title {
  font-size: 28px;
  font-weight: 700;
  color: #0e3d3b;
}

.login-subtitle {
  font-size: 14px;
  margin-bottom: 1rem;
  color: #444;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #0e3d3b;
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 3px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f9f5eb;
}

.btn-primary {
  /* width: 100%; */
  margin-top: 1rem;
  padding: 12px;
  border-radius: 8px;
  background: #0e3d3b;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

.btn-primary:hover {
  background: #ff6a00;
}

.alert-error {
  background: #ffdddd;
  padding: 10px;
  border-radius: 8px;
  color: #c30000;
  margin-bottom: 10px;
}
